* {
  margin: 0px;
  padding: 0px;
}

.slide {
  display: none;

}

img {
  width: 1280px;
  height: 768px;
}

body {
  background-image: url("images/ferrari_dino_1280x768.jpg");
  background-repeat: no-repeat;

}