* {
  margin: 0px;
  padding: 0px;
}

.slide {
  display: none;

}

img {
  width: 1280px;
  height: 768px;
}

body {
  background-image: url(http://placehold.it/1280x768);
  background-repeat: no-repeat;
  transition: background-image 2s ease-in-out;

}

h1 {
  color: orange;
  transition: color 1s ease-in;
}
h1:hover {
  color: black;
}
